<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [4]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp310-cp310-macosx_10_9_x86_64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.23
    Uninstalling SQLAlchemy-2.0.23:
      Successfully uninstalled SQLAlchemy-2.0.23
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [5]:
!pip install sql

Collecting sql
  Using cached sql-2022.4.0.tar.gz (4.2 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sql
  Building wheel for sql (setup.py) ... done
  Created wheel for sql: filename=sql-2022.4.0-py3-none-any.whl size=4307 sha256=bb5f2e8a7977c15a0ec0e366c444589e630746709983369cf09962e250414298
  Stored in directory: /Users/kirill/Library/Caches/pip/wheels/0c/cc/61/62312debc4afba962f05a759a3215104f54cedf22495b4059d
Successfully built sql
Installing collected packages: sql
Successfully installed sql-2022.4.0

In [6]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: six in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: ipython in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: prettytable in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from ipython-sql) (3.9.0)
Collecting sqlalchemy>=2.0
  Using cached SQLAlchemy-2.0.23-cp310-cp310-macosx_10_9_x86_64.whl (2.1 MB)
Requirement already satisfied: greenlet!=0.4.17 in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: jedi>=0.16 in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: pickleshare in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: stack-data in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: decorator in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: pexpect>4.3 in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.3)
Requirement already satisfied: backcall in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: wcwidth in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: pure-eval in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens>=2.1.0 in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: executing>=1.2.0 in /Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.23

In [1]:
%load_ext sql

In [8]:
%reload_ext sql

In [2]:
import csv, sqlite3

# Create the table "my_data" if it doesn't exist
con = sqlite3.connect("my_data1.db")
cur = con.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS my_data (id INTEGER PRIMARY KEY, data TEXT)")

# Now establish the connection to the table
cur = con.cursor()

In [7]:
!pip install -q pandas==1.1.5

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
autogluon-common 0.7.0 requires pandas<1.6,>=1.4.1, but you have pandas 1.1.5 which is incompatible.
autogluon-core 0.7.0 requires pandas<1.6,>=1.4.1, but you have pandas 1.1.5 which is incompatible.
autogluon-features 0.7.0 requires pandas<1.6,>=1.4.1, but you have pandas 1.1.5 which is incompatible.
autogluon-multimodal 0.7.0 requires pandas<1.6,>=1.4.1, but you have pandas 1.1.5 which is incompatible.
autogluon-tabular 0.7.0 requires pandas<1.6,>=1.4.1, but you have pandas 1.1.5 which is incompatible.
autogluon-timeseries 0.7.0 requires pandas<1.6,>=1.4.1, but you have pandas 1.1.5 which is incompatible.
nlpaug 1.1.11 requires pandas>=1.2.0, but you have pandas 1.1.5 which is incompatible.
statsforecast 1.4.0 requires numpy>=1.21.6, but you have numpy 1.21.4 which is incompatible.
statsforecast 1.4.0 requires pandas>=1.3.5, but you have pandas 1.1.5 which is incompatible.

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: pip install --upgrade pip

In [3]:
%sql sqlite:///my_data1.db

In [10]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages/pandas/core/generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [11]:
import pandas as pd

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Replace spaces with underscores in column names
df.columns = df.columns.str.replace(' ', '_')

# Assuming 'con' is your database connection
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

In [4]:
import pandas as pd

# Read the CSV data into a DataFrame
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Replace spaces in column names with underscores
df.columns = [col.replace(' ', '_') for col in df.columns]

# Convert the DataFrame to SQL
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

In [5]:
%sql select DATE from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[('2010-06-04',),
 ('2010-12-08',),
 ('2012-05-22',),
 ('2012-10-08',),
 ('2013-03-01',),
 ('2013-09-29',),
 ('2013-12-03',),
 ('2014-01-06',),
 ('2014-04-18',),
 ('2014-07-14',),
 ('2014-08-05',),
 ('2014-09-07',),
 ('2014-09-21',),
 ('2015-01-10',),
 ('2015-02-11',),
 ('2015-03-02',),
 ('2015-04-14',),
 ('2015-04-27',),
 ('2015-06-28',),
 ('2015-12-22',),
 ('2016-01-17',),
 ('2016-03-04',),
 ('2016-04-08',),
 ('2016-05-06',),
 ('2016-05-27',),
 ('2016-06-15',),
 ('2016-07-18',),
 ('2016-08-14',),
 ('2017-01-14',),
 ('2017-02-19',),
 ('2017-03-16',),
 ('2017-03-30',),
 ('2017-05-01',),
 ('2017-05-15',),
 ('2017-06-03',),
 ('2017-06-23',),
 ('2017-06-25',),
 ('2017-07-05',),
 ('2017-08-14',),
 ('2017-08-24',),
 ('2017-09-07',),
 ('2017-10-09',),
 ('2017-10-11',),
 ('2017-10-30',),
 ('2017-12-15',),
 ('2017-12-23',),
 ('2018-01-08',),
 ('2018-01-31',),
 ('2018-02-22',),
 ('2018-03-06',),
 ('2018-03-30',),
 ('2018-04-02',),
 ('2018-04-18',),
 ('2018-05-11',),
 ('2018-05-22',),
 ('2018-06-04',),
 ('2018-06-29',),
 ('2018-07-22',),
 ('2018-07-25',),
 ('2018-08-07',),
 ('2018-09-10',),
 ('2018-10-08',),
 ('2018-11-15',),
 ('2018-12-03',),
 ('2018-12-05',),
 ('2018-12-23',),
 ('2019-01-11',),
 ('2019-02-22',),
 ('2019-03-02',),
 ('2019-05-04',),
 ('2019-05-24',),
 ('2019-06-12',),
 ('2019-07-25',),
 ('2019-08-06',),
 ('2019-11-11',),
 ('2019-12-05',),
 ('2019-12-17',),
 ('2020-01-07',),
 ('2020-01-19',),
 ('2020-01-29',),
 ('2020-02-17',),
 ('2020-03-07',),
 ('2020-03-18',),
 ('2020-04-22',),
 ('2020-05-30',),
 ('2020-06-04',),
 ('2020-06-13',),
 ('2020-06-30',),
 ('2020-07-20',),
 ('2020-08-07',),
 ('2020-08-18',),
 ('2020-08-30',),
 ('2020-09-03',),
 ('2020-10-06',),
 ('2020-10-18',),
 ('2020-10-24',),
 ('2020-11-05',),
 ('2020-11-16',),
 ('2020-11-21',),
 ('2020-11-25',),
 ('2020-12-06',)]

In [6]:
%%sql
SELECT 
    substr("DATE", 1, instr("DATE", '/') - 1) AS DAY,
    substr("DATE", instr("DATE", '/') + 1, instr(substr("DATE", instr("DATE", '/') + 1), '/') - 1) AS MONTH,
    substr("DATE", instr("DATE", '/') + instr(substr("DATE", instr("DATE", '/') + 1), '/') + 1) AS YEAR
FROM SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('', '', '2010-06-04'),
 ('', '', '2010-12-08'),
 ('', '', '2012-05-22'),
 ('', '', '2012-10-08'),
 ('', '', '2013-03-01'),
 ('', '', '2013-09-29'),
 ('', '', '2013-12-03'),
 ('', '', '2014-01-06'),
 ('', '', '2014-04-18'),
 ('', '', '2014-07-14'),
 ('', '', '2014-08-05'),
 ('', '', '2014-09-07'),
 ('', '', '2014-09-21'),
 ('', '', '2015-01-10'),
 ('', '', '2015-02-11'),
 ('', '', '2015-03-02'),
 ('', '', '2015-04-14'),
 ('', '', '2015-04-27'),
 ('', '', '2015-06-28'),
 ('', '', '2015-12-22'),
 ('', '', '2016-01-17'),
 ('', '', '2016-03-04'),
 ('', '', '2016-04-08'),
 ('', '', '2016-05-06'),
 ('', '', '2016-05-27'),
 ('', '', '2016-06-15'),
 ('', '', '2016-07-18'),
 ('', '', '2016-08-14'),
 ('', '', '2017-01-14'),
 ('', '', '2017-02-19'),
 ('', '', '2017-03-16'),
 ('', '', '2017-03-30'),
 ('', '', '2017-05-01'),
 ('', '', '2017-05-15'),
 ('', '', '2017-06-03'),
 ('', '', '2017-06-23'),
 ('', '', '2017-06-25'),
 ('', '', '2017-07-05'),
 ('', '', '2017-08-14'),
 ('', '', '2017-08-24'),
 ('', '', '2017-09-07'),
 ('', '', '2017-10-09'),
 ('', '', '2017-10-11'),
 ('', '', '2017-10-30'),
 ('', '', '2017-12-15'),
 ('', '', '2017-12-23'),
 ('', '', '2018-01-08'),
 ('', '', '2018-01-31'),
 ('', '', '2018-02-22'),
 ('', '', '2018-03-06'),
 ('', '', '2018-03-30'),
 ('', '', '2018-04-02'),
 ('', '', '2018-04-18'),
 ('', '', '2018-05-11'),
 ('', '', '2018-05-22'),
 ('', '', '2018-06-04'),
 ('', '', '2018-06-29'),
 ('', '', '2018-07-22'),
 ('', '', '2018-07-25'),
 ('', '', '2018-08-07'),
 ('', '', '2018-09-10'),
 ('', '', '2018-10-08'),
 ('', '', '2018-11-15'),
 ('', '', '2018-12-03'),
 ('', '', '2018-12-05'),
 ('', '', '2018-12-23'),
 ('', '', '2019-01-11'),
 ('', '', '2019-02-22'),
 ('', '', '2019-03-02'),
 ('', '', '2019-05-04'),
 ('', '', '2019-05-24'),
 ('', '', '2019-06-12'),
 ('', '', '2019-07-25'),
 ('', '', '2019-08-06'),
 ('', '', '2019-11-11'),
 ('', '', '2019-12-05'),
 ('', '', '2019-12-17'),
 ('', '', '2020-01-07'),
 ('', '', '2020-01-19'),
 ('', '', '2020-01-29'),
 ('', '', '2020-02-17'),
 ('', '', '2020-03-07'),
 ('', '', '2020-03-18'),
 ('', '', '2020-04-22'),
 ('', '', '2020-05-30'),
 ('', '', '2020-06-04'),
 ('', '', '2020-06-13'),
 ('', '', '2020-06-30'),
 ('', '', '2020-07-20'),
 ('', '', '2020-08-07'),
 ('', '', '2020-08-18'),
 ('', '', '2020-08-30'),
 ('', '', '2020-09-03'),
 ('', '', '2020-10-06'),
 ('', '', '2020-10-18'),
 ('', '', '2020-10-24'),
 ('', '', '2020-11-05'),
 ('', '', '2020-11-16'),
 ('', '', '2020-11-21'),
 ('', '', '2020-11-25'),
 ('', '', '2020-12-06')]

In [7]:
%%sql
SELECT 
    substr("DATE", 1, instr("DATE", '/') - 1) AS DAY,
    CASE 
        WHEN substr("DATE", instr("DATE", '/') + 1, instr(substr("DATE", instr("DATE", '/') + 1), '/') - 1) = '01' THEN 'January'
        WHEN substr("DATE", instr("DATE", '/') + 1, instr(substr("DATE", instr("DATE", '/') + 1), '/') - 1) = '02' THEN 'February'
        WHEN substr("DATE", instr("DATE", '/') + 1, instr(substr("DATE", instr("DATE", '/') + 1), '/') - 1) = '03' THEN 'March'
        WHEN substr("DATE", instr("DATE", '/') + 1, instr(substr("DATE", instr("DATE", '/') + 1), '/') - 1) = '04' THEN 'April'
        WHEN substr("DATE", instr("DATE", '/') + 1, instr(substr("DATE", instr("DATE", '/') + 1), '/') - 1) = '05' THEN 'May'
        WHEN substr("DATE", instr("DATE", '/') + 1, instr(substr("DATE", instr("DATE", '/') + 1), '/') - 1) = '06' THEN 'June'
        WHEN substr("DATE", instr("DATE", '/') + 1, instr(substr("DATE", instr("DATE", '/') + 1), '/') - 1) = '07' THEN 'July'
        WHEN substr("DATE", instr("DATE", '/') + 1, instr(substr("DATE", instr("DATE", '/') + 1), '/') - 1) = '08' THEN 'August'
        WHEN substr("DATE", instr("DATE", '/') + 1, instr(substr("DATE", instr("DATE", '/') + 1), '/') - 1) = '09' THEN 'September'
        WHEN substr("DATE", instr("DATE", '/') + 1, instr(substr("DATE", instr("DATE", '/') + 1), '/') - 1) = '10' THEN 'October'
        WHEN substr("DATE", instr("DATE", '/') + 1, instr(substr("DATE", instr("DATE", '/') + 1), '/') - 1) = '11' THEN 'November'
        WHEN substr("DATE", instr("DATE", '/') + 1, instr(substr("DATE", instr("DATE", '/') + 1), '/') - 1) = '12' THEN 'December'
    END AS MONTH_NAME,
    substr("DATE", instr("DATE", '/') + instr(substr("DATE", instr("DATE", '/') + 1), '/') + 1) AS YEAR
FROM SPACEXTBL
WHERE substr("DATE", instr("DATE", '/') + instr(substr("DATE", instr("DATE", '/') + 1), '/') + 1) = '2015'
    AND "DATE" IS NOT NULL;

 * sqlite:///my_data1.db
Done.

[]

In [15]:
%%sql SELECT *
FROM SPACEXTBL
WHERE strftime('%Y', "DATE") = '2015' AND "DATE" IS NOT NULL;

Traceback (most recent call last):
  File "/Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "/Users/kirill/.conda/envs/scientificProject/lib/python3.10/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

**Note:This below code is added to remove blank rows from table**

In [8]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [9]:
%sql select distinct LAUNCH_SITE from SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [10]:
%sql select * from SPACEXTBL where LAUNCH_SITE like 'CCA%' limit 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [11]:
%sql select sum(PAYLOAD_MASS__KG_) from SPACEXTBL where CUSTOMER = 'NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [12]:
%sql select avg(PAYLOAD_MASS__KG_) from SPACEXTBL where BOOSTER_VERSION = 'F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [33]:
%sql SELECT MIN (DATE) FROM SPACEXTBL WHERE LANDING_OUTCOME = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

#####

In [63]:
%%sql
SELECT BOOSTER_VERSION
FROM SPACEXTBL
WHERE PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000 
AND LANDING_OUTCOME = 'Success (drone ship)'

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [72]:
%%sql select (select count(MISSION_OUTCOME) from SPACEXTBL where MISSION_OUTCOME = 'Success') as Success, 
(select count(MISSION_OUTCOME) from SPACEXTBL where MISSION_OUTCOME LIKE 'Failure%') as Failure

 * sqlite:///my_data1.db
Done.

[(98, 1)]

### Task 8



##### List the names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [73]:
%%sql select distinct BOOSTER_VERSION 
from SPACEXTBL 
where PAYLOAD_MASS__KG_ = (select max(PAYLOAD_MASS__KG_) from SPACEXTBL);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [93]:
%%sql
SELECT
CASE
WHEN substr(Date,6,2) = '01' THEN 'January'
WHEN substr(Date,6,2) = '02' THEN 'February'
WHEN substr(Date,6,2) = '03' THEN 'March'
WHEN substr(Date,6,2) = '04' THEN 'April'
WHEN substr(Date,6,2) = '05' THEN 'May'
WHEN substr(Date,6,2) = '06' THEN 'June'
WHEN substr(Date,6,2) = '07' THEN 'July'
WHEN substr(Date,6,2) = '08' THEN 'August'
WHEN substr(Date,6,2) = '09' THEN 'September'
WHEN substr(Date,6,2) = '10' THEN 'October'
WHEN substr(Date,6,2) = '11' THEN 'November'
WHEN substr(Date,6,2) = '12' THEN 'December'
END as month,
LANDING_OUTCOME,
BOOSTER_VERSION,
LAUNCH_SITE
FROM SPACEXTBL
WHERE substr(Date,0,5)='2015' 
AND LANDING_OUTCOME LIKE '%Failure (drone ship)%';

 * sqlite:///my_data1.db
Done.

[('January', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('April', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [94]:
%%sql
SELECT LANDING_OUTCOME, COUNT(*) as Count
FROM SPACEXTBL
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY LANDING_OUTCOME
ORDER BY Count DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>